.main-weather {
  width: 100%;
  display: flex;
  align-items: center;
  padding: var(--spacing-xl);
}
#main-weather .main-weather {
  @container (max-width: 420px) {
    flex-direction: column;
  }
}

.main-weather > .description {
  flex: 1;
}

.weather-icon > img {
  width: 100%;
  max-width: 200px;
}

.main-weather .temp {
  color: var(--color-light);
  text-shadow: 2px 0px 7px #7a545487;
  font-size: var(--font-size-xl);
  font-weight: 900;
}
