#root {
  /* display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header header'
    'sidebar main'
    'sidebar footer';*/
  gap: var(--spacing-m);
  min-height: 100vh;
  padding: var(--spacing-m);
  display: flex;
  flex-direction: column;
}
.stitched {
  border-radius: 15px;
  padding: 2rem;
  box-shadow: inset 4px 5px 5px rgba(255, 255, 255, 0.5),
    inset -3px -3px 3px #7a545456;
  position: relative;
}

.stitched::after {
  content: '';
  pointer-events: none;
  position: absolute;
  border-radius: 12px;
  top: 13px;
  left: 13px;
  z-index: 0;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  border: 2px dashed var(--color-light);
  box-shadow: inset -2px -2px 1px #7a545425, inset 2px 2px 1px #7a545425;
}

header {
  background-color: var(--color-accent-5);
}
header ul {
  display: flex;
  gap: var(--spacing-l);
  justify-content: end;
}
main {
  flex-grow: 1;
  display: flex;
  gap: var(--spacing-m);
  align-items: stretch;
}

footer {
  background-color: var(--color-accent-4);
}

@media (prefers-color-scheme: dark) {
  .stitched {
    background-color: var(--color-dark);
  }
  header.stitched::before {
    border-color: var(--color-accent-2);
  }
  main.stitched::before {
    border-color: var(--color-accent-3);
  }
  aside.stitched::before {
    border-color: var(--color-accent-1);
  }
  footer.stitched::before {
    border-color: var(--color-accent-4);
  }
}
